{% extends 'base.html.twig' %}

{% block titulo %}Tarea{% endblock %}

{% block menu_tarea %}class="active"{% endblock %}

{% block body %}

    <h1>Lista de Tareas</h1>
    {#<ul>#}
        {#{% for usuario in usuarios %}#}
            {#<li>{{ usuario.username  }} - {{ usuario.nombre }}</li>#}
        {#{% endfor %}#}
    {#</ul>#}
{% endblock %}

